body{
  font-family: Helvetica;
  text-align: center;
}
#Background{
  font-size: 70px;
  font-weight: bold;
  color: white;
}
#Home{
  background-image: url("./images/the-flatiron-building.png");
  font-size: 18px;
  color: white;
}
h2 {
  font-size: 32px;
  font-weight: bold;
}
h3  {
  font-size: 23px;
  font-weight: bold;
}
#banner{
  background-image: url("./images/the-flatiron-building.png");
  font-size: 23px;
  font-weight: bold;
  color: white;
}
p{
  font-size: 14px;
}
#Menu_footer{
  text-align: left;
  font-size: 18px
  color: white;
  background-color: dimgray;
}
#copy{
  color: white;
  font-size: 11px
}
